.changeColor{
    transition: background-color 1s ease-in-out;
}

.changeColor:hover{
    background-color: black;
    color: aliceblue;
}

.delBtn{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    background-color: black;
    margin: 5px;
    color: rgb(240, 248, 255);
    margin-left: 40px;
}